{% extends "layout.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <a href="/code"
       style="box-shadow: 0 5px 10px #48BB78; border: 1px solid #276749; border-radius: 10px; text-decoration: none">
        <h1 style="color: #22543D; text-decoration: none">
            GET YOUR CODE
        </h1>
    </a>
{% endblock %}